@{
    var Route = ViewContext.RouteData.Values["controller"].ToString() + @"/" + ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
        .marginSearch {
            margin-left: 620px
        }
    </style>
    <script>
        $(document).ready(function () {
            $(window).on('resize', function () {

                var size = $(window).width();
                if (size < 1025) {

                    $('.navbar-right').removeClass('marginSearch');
                }
                else {
                    $('.navbar-right').addClass('marginSearch');
                }
            }).resize();
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navsize">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @Html.ActionLink("IMDB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav navbar-right">
                    @if (Route == "Home/Index")
                    {
                        <li>
                            <input style="width:300px;margin-top:10px;height:30px" type="search" id="searchMovie" class="form-control" placeholder="Search Movie" aria-label="Search" />
                        </li>
                    }
                    @if (Route == "Home/Index")
                    {
                        <li>
                            <a href="~/Home/Favourite" style="margin-left:0px;">
                                <span class="glyphicon glyphicon-heart "></span> Favourites
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>

        @*<div class="navbar-collapse collapse">
            </div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>


